<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem 
        id="buku_menu_root" 
        name="Toko Buku" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="buku_akomodasi_menu_categ" 
        name="Daftar Buku" 
        parent="buku_menu_root" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="buku_order_menu_categ" 
        name="Order" 
        parent="buku_menu_root" 
        sequence="20"/>

    <!-- This Menu Item Must have a parent -->    
    <menuitem 
        id="buku_partner_menu_categ" 
        name="Partner" 
        parent="buku_menu_root" 
        sequence="30"/>
</odoo>
